section#sobre-nos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  background-color: red;
}

section#sobre-nos h3 {
  font-size: 2.5rem;
  padding-bottom: 2rem;
  text-align: left;
  color: var(--blanco);
}
