section#temas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  gap: 3rem;
  min-height: 100%;
  width: 100%;
  background-color: var(--negro3);
}

section#temas > h2 {
  font-size: 3rem;
  color: var(--blanco);
  font-style: italic;
  text-align: left;
  width: 80%;
}

section#temas div.temas-container {
  padding: 2rem 10rem;
  display: grid;
  grid-template-columns: 40% 1fr;
  justify-items: center;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  width: 100%;
}

div.temas-container div.temas-img-container {
  color: var(--blanco);
  padding: 2rem;
  text-align: justify;
  width: 100%;
  background-image: url(../../assets/cita-doble-imagenes/CitaDoble_23.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

div.temas-container div.temas-img-container:hover {
  transform: scale(1.05);
}

div.temas-container div.temas-img-container h3 {
  font-size: 1.2rem;
  text-align: left;
}

section#temas iframe {
  width: 80%;
  height: 450px;
  border: none;
}

@media (max-width: 1500px) {
  section#temas div.temas-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1000px) {
  section#temas div.temas-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    justify-items: center;
    width: 70%;
  }

  section#temas iframe {
    width: 250px;
    height: 380px;
    border: none;
  }
}

@media (max-width: 850px) {
  section#temas div.temas-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    width: 85%;
  }

  section#temas iframe {
    width: 100%;
  }
}

@media (max-width: 750px) {
  section#temas div.temas-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  section#temas iframe {
    width: 250px;
  }
}
